{% extends 'user/masterpage.html' %}

{% load static %}
{% block content %}
<section>
  <style>
    .error{
      color: red;
    }
  </style>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form class="mx-1 mx-md-4" id="signup_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c">Your Name</label>
                            <input type="text"  class="form-control" placeholder="Enter Your Name" id="yourname" name="yourname">
                            <span id="name_error"></span>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example1c">Username</label>
                              <input type="text"  class="form-control" placeholder="Enter Username" id="username" name="username">
                              <span id="username_error"></span>
                            </div>
                          </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c">Password</label>
                            <input type="password" id="password" class="form-control" placeholder="Enter Password" name="password">
                            <span id="password_error"></span>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4cd">Confirm your password</label>
                            <input type="password" id="confirmpassword" class="form-control"  placeholder="Enter Confirm Password" name="confirm_password">
                            <span id="cofmpswd_error"></span>
                          </div>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-primary btn-lg" id="submit" onclick="return valdate()">Register</button>
                        </div>
 
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</section>

<!-- <script>
  function valdate(){
  var yourname = document.getElementById('yourname')
  var username = document.getElementById('username')
  var pswd = document.getElementById('password')
  var conf_pswd = document.getElementById('confirmpassword') 

  if(yourname.value == ""){
    yourname.style.border = '1px solid red'
    name_error.innerHTML = 'Enter your Name'
    name_error.style.color = 'red'
  return false
  }
  else{
    name_error.innerHTML = ""
  }
  if(yourname.value.length <=4){
    name_error.innerHTML = ' Should contain minimum length of four '
    name_error.style.color = 'red'
    return false
  }
  else{
    name_error.innerHTML = ""
  }

  ///////////////////////////////////////////////

  if(username.value == ""){
    username.style.border = '1px solid red'
    username_error.innerHTML = 'Enter your Name'
    username_error.style.color = 'red'
  return false
  }
  else{
    username_error.innerHTML = ""
  }
  if(username.value.length <=5){
    username_error.innerHTML = ' Should contain minimum length of five '
    username_error.style.color = 'red'
    return false
  }
  else{
    username_error.innerHTML = ""
  }
  ////////////////////////
  if(pswd.value == ""){
    pswd.style.border = '1px solid red'
    password_error.innerHTML = 'This space is to be filled'
    password_error.style.color = 'red'
  return false
  }
  else{
    password_error.innerHTML = ""
  }
  if(pswd.value.length <=5){
    password_error.innerHTML = ' Should contain minimum length of five '
    password_error.style.color = 'red'
    return false
  }
  else{
    password_error.innerHTML = ""
  }


//////////////////////////////

//////////////////////////////

  if(conf_pswd.value == ""){
    conf_pswd.style.border = '1px solid red'
    cofmpswd_error.innerHTML = 'This space is to be filled'
    cofmpswd_error.style.color = 'red'
  return false
  }
  else{
    password_error.innerHTML = ""
  }
  if(pswd.value != conf_pswd.value){
    cofmpswd_error.innerHTML = ' Password not matching '
    cofmpswd_error.style.color = 'red'
    return false
  }
  else{
    cofmpswd_error.innerHTML = ""
  }
  }
</script> -->




<script>
  $(document).ready(function(){
    $('#signup_form').validate({
      rules : {
          yourname : {
            required : true,
            minlength : 4
          },
          username : {
            required : true,
            minlength : 5
          },
          password : {
            required : true,
            minlength : 5
          },
          confirm_password : {
            required : true,
            equalTo : password
          }
      },

      messages : {
          yourname : {
            required : 'Please Enter your Name ',
            minlength : 'Required Minimum four letters'
          },
          username : {
            required : 'Please Enter a username',
            minlength : 'Required Minimum five letters'
          },
          confirm_password : {
            required : 'Please confirm the password',
            equalto : 'Password not matching'
            
          }
      }
     
    })
  })
</script>
{% endblock %}